<!DOCTYPE html>
<html lang="en">

<!--pone el titulo-->
<head>
    <meta charset="UTF-8">
    <title>Habilidad</title>
</head>

{% extends "layout.html" %}
{% block content %}
<body>
<!--pone el fondo-->
    <style>
        body{ background-color: #FFFFFF;}
    </style>

    <form>
        <div class="form-group col-md-4">
            <center>
                <h2>
                    <label>
                        Habilidad
                    </label>
                </h2>
            </center>
            <br>

<!--Coloca el campo de descripcion-->
             <h2>Descripcion </h2>
            <br><textarea></textarea><br>

<!--Coloca la lista despegable-->


        <h2>Nivel</h2>
        <label>
            <input type="radio" name="nivel" value="alto"> Alto
        </label>
        <label>
            <input type="radio" name="nivel" value="medio"> Medio
        </label>
        <label>
            <input type="radio" name="nivel" value="bajo"> Bajo
        </label>


<!--Coloca los botones-->
        <br>
            <br><input type="reset" style="color: #003366; background-color: #1290C2" value="Enviar" name="button">
            <input type="reset" style="color: #003366; background-color: #1290C2" value="Borrar" name="button">


    </div>

{% endblock %}
</body>

</html>