<!DOCTYPE html>
<html lang="es">
<head>
    <title>Medio de Publicidad</title>
</head>
{% extends "home.html" %}
{% block content %}

<body style="background-color:#FFFFF">

    <p><h2><center>Formulaio de Medios de Publicidad </center></h2> </p>
    <p><h2> Descripción:</h2></p>
    <input type="text" style="WIDTH: 508px; HEIGHT: 50px" name="desc_medios_de_publicidad">
    <br>
    <br>
    <input style="color: #262626; background-color: #1290C2" value="Aceptar" name="button" type="submit"/>
    <input style="color: #262626; background-color: #1290C2" value="Borrar" name="button" type="submit"/>
    <input style="color: #262626; background-color: #1290C2" value="Cancelar" name="button" type="submit"/>
</body>
{% endblock %}
</html>
